{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/img/apple-icon.png' %}">
{#    <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}">#}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" />
      <link href="{% static 'dashboard/css/login_main.css' %}" rel="stylesheet" />

    <link href="{% static 'dashboard/css/paper-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'dashboard/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="" onload="showSnackbar()">
  <div class="wrapper " >
    <div class="sidebar" data-color="#000000" style="width: 350px; padding: 20px; color: white ">
      <div class="logo">
        <a  class="simple-text logo-normal">
          Dashboard

        </a>
      </div>
      <div class="sidebar-wrapper" style="width: 300px; ">
        <ul class="nav" style="text-align: center; padding-bottom: 20px">
            <li>
                <div class="image">
                    <img src="{% static 'dashboard/img/logo-small.png' %}">
                </div>
            </li>
          <li style="text-align: center; padding-top: 20px">
              <p style="font-size: 30px; padding-bottom: 20px; color: #a18cd1">{{ customer.name }}</p>

          </li>


        </ul>

        <ul class="nav">
          <li class="active">
            <a href="{% url 'dashboard:index' %}">

              <p style="color:#a18cd1; font-size: 18px">Maps</p>
            </a>
          </li>

          <li>
            <a href="{% url 'dashboard:maps' %}">

              <p style="color: white; font-size: 18px">Your Bookings</p>
            </a>
          </li>

          <li >
            <a href="{% url 'dashboard:user' %}">

              <p style="color:white; font-size: 18px">Update Profile</p>
            </a>
          </li>
            <li >
            <a href="{% url 'dashboard:wallet' %}">

              <p style="color: white; font-size: 18px">Wallet</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel bg-gra-01" >
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" >
        <div class="container-fluid" >
          <div class="navbar-wrapper" >
            <div class="navbar-toggle" >
              <button type="button" class="navbar-toggler" >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
              <div class="logo">
            <a class="navbar-brand" href="{% url 'home:index' %}" style="padding-left: 100px; font-size: 30px; font-weight: bold; color: whitesmoke">innOcity</a>
                  </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">

            <ul class="navbar-nav">

              <li class="nav-item" >
                <a class="nav-link" style="color: whitesmoke; font-weight: bold" href="{% url 'login:index' %}">
                  Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!-- End Navbar -->
        <div class="content" style="padding-left: 100px; min-width: 1350px; min-height: 1000px">
            <div class="row">
                <div class="col-md-11" style="padding-left: 100px">
            <div class="card card-user">
                <div class="card-header">
                <h3 class="card-title" style="padding-left: 50px; padding-top: 50px">Places You've Been To</h3>
              </div>
                <div class="card-body" style="padding-bottom: 200px; padding-top: 100px">
            <div id="map" style="width:1150px; height:600px; padding-left: 100px;"></div>
                </div>
            </div>
                </div>
            </div>
            <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
            <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
            <script>

                mapboxgl.accessToken = 'pk.eyJ1IjoicmFtaXNhMjEwOCIsImEiOiJja2VvOGowemIwYTA4MndwNzllcmhpcDk5In0.hVgsEPAgea4C4wbwHOTtuw';
                var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [0,0],
                    zoom: 1
                });
                var locations = {{ locations | safe }};
                var hotels = {{ hotels | safe }};

                for(var i=0;i<locations.length;i++) {
                    const hotelname = hotels[i];
                    mapboxClient.geocoding
                        .forwardGeocode({
                            query: locations[i],
                            autocomplete: false,
                            limit: 1
                        })
                        .send()
                        .then(function (response) {

                            if (
                                response &&
                                response.body &&
                                response.body.features &&
                                response.body.features.length
                            ) {

                                var feature = response.body.features[0];

                                new mapboxgl.Marker({color:'red'}).
                                setLngLat(feature.center).
                                setPopup(new mapboxgl.Popup({ offset: 25 }).
                                setHTML('<h6>' + hotelname )).
                                addTo(map);
                            }
                        });
                }

            </script>

        </div>

        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">
                    <div class="credits ml-auto">
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--   Core JS Files   -->

<script src="{% static 'dashboard/js/core/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/js/core/popper.min.js' %}"></script>
<script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>

<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="{% static 'dashboard/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'dashboard/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'dashboard/js/paper-dashboard.min.js' %}?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'dashboard/demo/demo.js' %}"></script>


</body>

</html>