{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'dashboard/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'dashboard/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static 'dashboard/css/bootstrap.min.css' %}" rel="stylesheet" />
      <link href="{% static 'dashboard/css/login_main.css' %}" rel="stylesheet" />

    <link href="{% static 'dashboard/css/paper-dashboard.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'dashboard/demo/demo.css' %}" rel="stylesheet" />
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }
        .rate:not(:checked) > input {
            position:absolute;
            top:-9999px;
        }
        .rate:not(:checked) > label {
            float:right;
            width:1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:30px;
            color:#ccc;
        }
        .rate:checked + label {
            content: '★ ';
        }
        .checked > label{
            content: '★ ';
        }
        .rate > input:checked ~ label:before{
            content: '★ ';
        }
        .rate:not(:checked) > label:before {
            content: '★ ';
        }
        .rate > input:checked ~ label:before {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }
        .rate > input:checked,
        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }

    </style>

</head>

<body class="" onload="showSnackbar()">
  <div class="wrapper " >
    <div class="sidebar" data-color="#000000" style="width: 350px; padding: 20px; color: white ">
      <div class="logo">
        <a  class="simple-text logo-normal">
          Dashboard
        </a>
      </div>
      <div class="sidebar-wrapper" style="width: 300px; ">
        <ul class="nav" style="text-align: center; padding-bottom: 20px">
            <li>
                <div class="image">
                    <img src="{% static 'dashboard/img/logo-small.png' %}">
                </div>
            </li>
          <li style="text-align: center; padding-top: 20px">
              <p style="font-size: 30px; padding-bottom: 20px; color: #a18cd1">{{ customer.name }}</p>

          </li>


        </ul>

        <ul class="nav">
          <li >
            <a href="{% url 'dashboard:index' %}">

              <p style="color:white; font-size: 18px">Maps</p>
            </a>
          </li>

          <li class="active">
            <a href="{% url 'dashboard:maps' %}">

              <p style="color: #a18cd1; font-size: 18px">Your Bookings</p>
            </a>
          </li>

          <li >
            <a href="{% url 'dashboard:user' %}">

              <p style="color:white; font-size: 18px">Update Profile</p>
            </a>
          </li>
            <li >
            <a href="{% url 'dashboard:wallet' %}">

              <p style="color: white; font-size: 18px">Wallet</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel bg-gra-01" >
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" >
        <div class="container-fluid" >
          <div class="navbar-wrapper" >
            <div class="navbar-toggle" >
              <button type="button" class="navbar-toggler" >
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
              <div class="logo">
            <a class="navbar-brand" href="{% url 'home:index' %}" style="padding-left: 100px; font-size: 30px; font-weight: bold; color: black">Innocity</a>
                  </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">

            <ul class="navbar-nav">

              <li class="nav-item" >
                <a class="nav-link" style="color: black; font-weight: bold" href="{% url 'login:index' %}">
                  Log Out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <!-- End Navbar -->


        <div class="content" style="padding-left: 100px; min-width: 1350px; min-height: 1000px">
            <h3 class="card-title" style="padding-left: 20px;color: whitesmoke">Your bookings</h3>
            <br>

            {% for reservation in reservation_list %}

                <div class="row" style="padding-bottom: 100px" >

                    <div class="col-md-11" style="padding-left: 100px">
                        <div class="card card-user">
                            <div class="card-body" style="padding-bottom: 50px; padding-top: 50px; min-height: 600px;">
                                <div class="row" >
                                    <div class="col-md-5" style="padding-top: 100px;padding-left: 60px;">
                                        <img src="{% static 'dashboard/img/img_1.jpg' %}" style="alignment: center">
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-5">
                                        <div class="row" style="font-size: 20px">
                                            <a href="{% url 'hotel:index' reservation.hotelId %}"><h3 style="color: #a18cd1">{{ reservation.hotel_name }}</h3></a>

                                        </div>
                                        <div class="row" style="font-size: 30px;">
                                            {{ reservation.city }}, {{ reservation.country }}
                                        </div>
                                        <div class="row" style="font-size: 20px; padding-top: 30px">
                                            <p>Arrival:       {{ reservation.date_of_arrival }}</p>
                                        </div>
                                        <div class="row" style="font-size: 20px; padding-top: 20px">
                                            <p>Departure:     {{ reservation.date_of_departure }}</p>
                                        </div>
                                        <div class="row" style="font-size: 20px; padding-top: 20px ">
                                            <p>Rooms Booked:  </p>

                                            <ul style="padding-left: 20px;  ">
                                                {% for room_bed in reservation.room_types %}
                                                    <li style="float: left; margin-right:2em;">{{ room_bed }}</li>


                                                {% endfor %}
                                            </ul>

                                        </div>
                                    <div class="row" style="font-size: 20px; padding-top: 20px ">
                                            <p>Reservation Charge:     {{ reservation.reservation_charge }} $</p>
                                        </div>
                                        {% if reservation.services %}
                                            <div class="row" style="font-size: 20px; padding-top: 20px">
                                            <p>Service Charge:     {{ reservation.service_charge }} $</p>
                                            </div>
                                            <div class="row" style="font-size: 20px; padding-top: 20px">
                                                <p>Services included:  
                                                <ul style="padding-left: 30px; ">
                                                    {% for ser in reservation.services %}
                                                        <li style="float: left; margin-right:2em;">{{ser}} </li>
                                                    {% endfor %}
                                                </ul>
                                                </p>
                                            </div>


                                        {% endif %}

                                        {% if reservation.passed %}
                                        <div class="row" style="font-size: 15px; padding-left: 270px;">
                                            <p style="padding-left: 50px; padding-top: 20px">Rate</p>
                                            <form action="{% url 'dashboard:maps' %}" method="POST" id="rating_form" name="rating_form">
                                            {% csrf_token %}

                                              <div class="form-group">
                                                <input type="text" class="form-control" name="reservation_id" readonly hidden value="{{ reservation.reservation_id }}">

                                              </div><div class="rate">
                                                <input onchange="this.form.submit()" type="radio" class="form-control" id="star5 {{ reservation.reservation_id }}" name="rate" value="5"/>
                                                <label for="star5 {{ reservation.reservation_id }}" title="5 stars">5 stars</label>
                                                <input onchange="this.form.submit();" type="radio" class="form-control" id="star4 {{ reservation.reservation_id }}" name="rate" value="4" />
                                                <label for="star4 {{ reservation.reservation_id }}" title="4 stars">4 stars</label>
                                                <input onchange="this.form.submit();" type="radio" class="form-control" id="star3 {{ reservation.reservation_id }}"  name="rate" value="3" />
                                                <label for="star3 {{ reservation.reservation_id }}" title="3 stars">3 stars</label>
                                                <input onchange="this.form.submit();" type="radio" class="form-control" id="star2 {{ reservation.reservation_id }}" name="rate"  value="2" />
                                                <label for="star2 {{ reservation.reservation_id }}" title="2">2 stars</label>
                                                <input onchange="this.form.submit();" type="radio" class="form-control" id="star1 {{ reservation.reservation_id }}" name="rate"  value="1" />
                                                <label for="star1 {{ reservation.reservation_id }}" title="1">1 star</label>
                                                </div>
                                                {% if reservation.rating %}
                                                    <script>
                                                        var rbid = "star" + {{ reservation.rating }} + " " + {{ reservation.reservation_id }};

                                                        var rb = document.getElementById(rbid);
                                                        rb.checked = true;

                                                    </script>
                                                {% endif %}
                                                </form>
                                        </div>
                                            {% else %}
                                            <div class="row" style="font-size: 25px; padding-left: 250px;">
                                            <p style="padding-left: 20px; padding-top: 20px; color: #57b846 ;">PENDING VISIT...</p>
                                            </div>
                                    {% endif %}


                                        <div class="row" >
                                            <a href="{% url 'hotel:index' reservation.hotelId %}">
                                                <button type="submit" name="book_again" value="book_again" class="btn btn-primary" style="background-color: #a18cd1; color: black" >Book Again </button>
                                            </a>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="{% static 'dashboard/js/core/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/js/core/popper.min.js' %}"></script>
<script src="{% static 'dashboard/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
<!-- Chart JS -->
<script src="{% static 'dashboard/js/plugins/chartjs.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'dashboard/js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'dashboard/js/paper-dashboard.min.js' %}?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'dashboard/demo/demo.js' %}"></script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js' %}
        demo.initChartsPages();
    });
</script>



</body>

</html>
